* text=auto eol=lfs

/**               export-ignore
/resources        !export-ignore
/src              !export-ignore
/resources/**     !export-ignore
/src/**           !export-ignore
/LICENSE          !export-ignore
/project.godot    !export-ignore
